
.content{
font-family: "Apple Chancery";
    font-size: xx-large;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    color: crimson;
    padding: 10px;
    background-image:url("bg2.jpg") ;
}

